# Entornos y secretos
.env
*.env
!.env.example

# Python
__pycache__/
*.pyc
.venv/
venv/

# Base de datos local (no debe subirse a git)
raspberry/database/*.db
raspberry/database/*.db-journal

# Node (Fase 2/3)
node_modules/
dist/
build/

# Sistema
.DS_Store
*.log
